*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:"Playfair Display",serif;
    background:#225414;
    color:#ffe082;
    line-height:1.7;
}

h1,h2,h3,h4{
    font-family:"Chelsea Market",cursive;
    color:#ffe082;
}

section:not(#Home,#bukutamu){
    padding:80px 0;
    border-bottom:1px solid #225414;
}

section h2{
    text-align:center;
    font-size:2.2rem;
    margin-bottom:35px;
}

header{
    position:sticky;
    top:0;
    z-index:999;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    background: rgba(34, 78, 17, 0.95);
    backdrop-filter:blur(8px);
}

header h1{
    color:#ffe082;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav ul li a{
    text-decoration:none;
    color:#ffe082;
    font-weight:bold;
    transition:.3s;
}

nav ul li a:hover{
    color:#ffe082;
}

main{
    max-width:1200px;
    margin:auto;
    padding:20px;
}