* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Alata",sans-serif;
    background-color: rgba(48, 0, 40, 0.966);
    color: rgba(252, 251, 251, 0.98);
    line-height: 1.7;
}

h1,
h2,
h3,
h4 {
    font-family: "Chelsea Market", cursive;
    color: #f8fafa;
    line-height: 1.2;
}
section:not(#home, #bukutamu) {
    padding: 80px 0;
    border-bottom: 1px solid #0e1623;
}

section h2 {
    font-family: "Chelsea Market", cursive;
    color: #f8fafa;
    font-size: 2.2rem;
    margin-bottom: 40px;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(48, 0, 40, 0.966);
    border-bottom: 2px solid #f8fafa;
    backdrop-filter: blur(10px);
}

header h1 {
    font-family: "Alata", cursive;
    font-size: 1.5rem;
    color: #f8fafa;
}


